#presentation-img {
    background-image: url(../img/about.jpg);

}

@media (max-width: 480px) {
    .presentation .heading-section h2 {
        text-align: center;
        font-size: 32px;
        margin-bottom: 12% !important;
    }
}